body {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/collaborateam/img/board.jpg");
    background-size: cover;
}

.board {
    width: 80%;
    height: auto;
    min-height: 800px;
    border: 2px solid rgb(255, 255, 255, 0.5);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 40px;
    background: transparent;
    color: white;
    margin: 0 auto;
}

.board-container {
    width: 80%;
    margin : auto;
}

.board-btn {
    display: flex;
    justify-content: space-between;
}

.modal {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    padding-top: 100px;
    overflow: auto;
}

.modal-content {
    width: 50%;
    margin: auto;
    padding: 40px;
    border: 2px solid rgb(255, 255, 255, 0.5);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: rgb(0, 0, 0, 0.8);
}

.close {
    display: none;
    float: right;
    font-size: 24px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.modal-content h2 {
    font-size: 48px;
    text-align: center;
}

#team-list li {
    list-style: none;
    text-align: center;
    margin: 20px 0;
}

#team-list li[selected="selected"] {
    background-color: #6495ED;
}

#teamSelectBtn {
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    border: 2px solid rgba(0, 0, 0, .2);
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    color: #333;
    background: #fff;
}

#teamSelectBtn:hover {
    color: #fff;
    background: #6495ED;
}

form {
    width: 100%;
}

h2 {
    font-size: 20px;
    margin: 10px 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.board-container input, .board-container select {
    width: 100%;
    height: 40px;
    border: 2px solid rgba(255, 255, 255, 0.8);
    border-radius: 4px;
    margin: 10px 0;
    padding: 8px;
}

textarea {
    width: 100%;
    height: 60px;
    margin: 10px 0;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    resize: none;
    padding: 8px;
}

.btn {
    background-color: rgb(236, 236, 236);
    border: none;
    color: black;
    padding: 6px 12px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.btn:hover {
    text-decoration: underline;
}

#comment-list {
    width : 100%;
    margin : auto;
}

#comment-list ul {
    width: 100%;
}

#comment-list li {
    list-style: none;
    margin: 10px 0;
    padding: 10px;
    border: 2px solid rgba(255, 255, 255, 0.8);
    border-radius: 4px;
}

.commenter {
    font-size: 36px;
    font-weight: 600;
}

.comment {
    font-size: 18px;
    font-weight: 400;
}

.comment-detail {
    padding: 10px 0;
}

.reg-date {
    font-size: 16px;
}

@media screen and (max-width: 1280px) {
    .board {
        padding: 20px;
    }

    .modal {
        padding-top: 50px;
    }

    .modal-content {
        padding: 20px;
    }

    .close {
        font-size: 12px;
    }

    .modal-content h2 {
        font-size: 16px;
    }

    #team-list li {
        margin: 10px 0;
    }

    #teamSelectBtn {
        padding: 5px 10px;
        font-size: 8px;
    }

    h2 {
        font-size: 10px;
        margin: 5px 0;
    }

    .board-container input, .board-container select {
        height: 20px;
        margin: 5px 0;
        padding: 2px;
    }

    textarea {
        height: 40px;
        margin: 5px 0;
        padding: 2px;
    }

    .btn {
        padding: 2px 6px;
        font-size: 8px;
    }

    #comment-list li {
        margin: 5px 0;
        padding: 5px;
    }

    .commenter {
        font-size: 18px;
    }

    .comment {
        font-size: 12px;
    }

    .comment-detail {
        padding: 5px 0;
    }

    .reg-date {
        font-size: 8px;
    }
}