<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="UserDto" type="com.collaborateam.www.domain.UserDto"/>
        <typeAlias alias="BoardDto" type="com.collaborateam.www.domain.BoardDto"/>
        <typeAlias alias="CommentDto" type="com.collaborateam.www.domain.CommentDto"/>
        <typeAlias alias="TeamDto" type="com.collaborateam.www.domain.TeamDto"/>
        <typeAlias alias="MemberDto" type="com.collaborateam.www.domain.MemberDto"/>
        <typeAlias alias="BoardListCondition" type="com.collaborateam.www.domain.BoardListCondition"/>
        <typeAlias alias="TeamListCondition" type="com.collaborateam.www.domain.TeamListCondition"/>
    </typeAliases>
</configuration>