<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.collaborateam.www.dao.BoardMapper">
    <select id="count" resultType="int">
        SELECT count(*)
        FROM board
    </select>

    <sql id="selectFromBoard">
        SELECT b.bno, b.field, b.spec, b.title, b.content, b.writer, b.view_cnt, b.comment_cnt, b.reg_date, b.up_date
        FROM board b
    </sql>

    <select id="selectAll" resultType="BoardDto">
        <include refid="selectFromBoard"/>
        ORDER BY reg_date DESC, bno DESC
    </select>

    <delete id="removeAll">
        DELETE
        FROM board
    </delete>

    <insert id="insert" parameterType="BoardDto">
        INSERT INTO board
            (field, spec, title, content, writer)
        VALUES
            (#{field}, #{spec}, #{title}, #{content}, #{writer})
    </insert>

    <select id="select" parameterType="int" resultType="BoardDto">
        <include refid="selectFromBoard"/>
        WHERE bno = #{bno}
    </select>

    <update id="modify" parameterType="BoardDto">
        UPDATE board
        SET field = #{field},
            spec = #{spec},
            title = #{title},
            content = #{content},
            up_date = now()
        WHERE bno = #{bno} and writer = #{writer}
    </update>

    <delete id="remove" parameterType="map">
        DELETE
        FROM board
        WHERE bno = #{bno} and writer = #{writer}
    </delete>

    <sql id="boardListCondition">
        <if test='field!="A"'>
            AND b.field = #{field}
        </if>
        <if test='spec!="A"'>
            AND b.spec = #{spec}
        </if>
        <if test='option!="A"'>
            <choose>
                <when test='option=="T"'>
                    AND b.title LIKE concat('%', #{keyword}, '%')
                </when>
                <when test='option=="W"'>
                    AND b.writer LIKE concat('%', #{keyword}, '%')
                </when>
                <when test='option=="TC"'>
                    AND (b.title LIKE concat('%', #{keyword}, '%')
                    OR b.content LIKE concat('%', #{keyword}, '%'))
                </when>
            </choose>
        </if>
        <if test='zone!="A"'>
            AND u.reg_date >= now() - INTERVAL 1 WEEK
        </if>
    </sql>

    <select id="boardPage" parameterType="BoardListCondition" resultType="BoardDto">
        <include refid="selectFromBoard"/>
        JOIN user u
            ON b.writer = u.id
        WHERE true
        <include refid="boardListCondition"/>
        ORDER BY b.reg_date DESC, b.bno DESC
        LIMIT #{offset}, #{pageSize}
    </select>

    <select id="boardCnt" parameterType="BoardListCondition" resultType="int">
        SELECT count(*)
        FROM board b
        JOIN user u
            ON b.writer = u.id
        WHERE true
        <include refid="boardListCondition"/>
    </select>

    <update id="increaseViewCnt" parameterType="int">
        UPDATE board
        SET   view_cnt = view_cnt + 1
        WHERE bno = #{bno}
    </update>
    
    <update id="updateCommentCnt" parameterType="map">
        UPDATE board
        SET comment_cnt = comment_cnt + #{cnt}
        WHERE bno = #{bno}
    </update>
</mapper>