<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.collaborateam.www.dao.UserMapper">
    <select id="count" resultType="int">
        SELECT count(*)
        FROM user
    </select>

    <select id="selectAll" resultType="UserDto">
        SELECT *
        FROM user
    </select>
    
    <delete id="deleteAll">
        DELETE
        FROM user
    </delete>

    <insert id="insert" parameterType="UserDto">
        INSERT INTO user
            (id, pwd, email, name, birth)
        VALUES
            (#{id}, #{pwd}, #{email}, #{name}, #{birth})
    </insert>

    <select id="select" parameterType="String" resultType="UserDto">
        SELECT *
        FROM user
        WHERE id = #{id}
    </select>

    <update id="update" parameterType="UserDto">
        UPDATE user
        SET pwd = #{pwd},
            email = #{email},
            name = #{name},
            birth = #{birth},
            up_date = now()
        where id = #{id}
    </update>

    <delete id="delete" parameterType="String">
        DELETE
        FROM user
        WHERE id = #{id}
    </delete>
</mapper>